/* inspired by https://www.w3schools.com/howto/howto_js_treeview.asp */

#gui-pane {
    position: absolute;
    width: 13rem;
    display: block;
    top: 0px;
    left: 0px;
    background-color: black;
    color: #d0d0d0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    z-index: 2000;
    opacity: 0.8;
}

#datgui-pane {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
}

#folder-display {
    padding: 0;
    margin: 0;
}

#folder-display ul {
    list-style-type: none;
}

#folder-display li {
    cursor: pointer;
}

.tree-list {
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.5s;
}

.visible {
    max-height: 600px;
}

.collapsed {
    user-select: none;
}

.collapsed::before {
    content: "\25B6";
    display: inline-block;
    margin-right: 6px;
    transition: 0.5s;
}

.expanded::before {
    transform: rotate(90deg);
}

.selected {
    font-weight: bold;
}

#info-elem {
    font-size: smaller;
}

#info-elem .type {
    font-size: medium;
}

/* Provide units to the info element*/
#info-elem .km::after {
    content: "KM";
}

#info-elem .deg::after {
    content: "\00B0";
}

#info-elem .au::after {
    content: "AU"
}

/* help tooltip */
/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
.tooltip {
    /* position: relative; */
    display: inline-block;
    border-bottom: 1px dotted;
    cursor: help;
}

.tooltip span {
    visibility: hidden;
    background-color: #404040;
    color: #d0d0d0;
    border-radius: 0.3rem;
    width: 40rem;
    position: absolute;
    z-index: 2001;
    top: 30vh;
    left: 16rem;
    padding-right: 2rem;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover span {
    visibility: visible;
    opacity: 1;
}
